<template>
  <div>
    <pre>
      {{ lastUpdated }}
      {{ ipAddr }}
      {{ lat }}, {{ lon }}
      {{ updateCount }} {{ latencyCurMs }}ms {{ latencyAveMs }}ms
    </pre>
  </div>
</template>

<style>
body {
  font-size: xx-large;
  background-color: black;
  color: red;
}
</style>

<script>
module.exports = {
  name: 'App',
  computed: {
    geo () {
      return this.lat + ', ' + this.lon
    },
    latencyAveMs () {
      return Math.trunc(this.latencyTotMs / this.updateCount)
    },
    latencyCurMs () {
      if (this.stop.getMilliseconds() > this.start.getMilliseconds()) {
        return this.stop.getMilliseconds() - this.start.getMilliseconds()
      } else {
        return 0
      }
    }
  },
  data () {
    return {
      ipAddr      : null,
      lat         : null,
      lon         : null,
      lastUpdated : null,
      latencyTotMs: 0,
      start       : new Date(),
      stop        : new Date(),
      updateCount : 0
    }
  },
  mounted () {
    console.log('mounted ()')
    navigator.geolocation.watchPosition(position => {
      this.updateCount++
      this.lat         = position.coords.latitude
      this.lon         = position.coords.longitude
      this.lastUpdated = new Date().toISOString()
      const http = new XMLHttpRequest ()
      http.open('GET', 'https://api.ipify.org?format=text')
      this.start = new Date()
      http.send()
      http.onload = () => {
        this.stop          = new Date()
        this.latencyTotMs += this.latencyCurMs;
        this.ipAddr        = http.responseText
      }
    })
  }
}
</script>
